body {
    font-family: 'oswald' 'awesome';
    font-size: 62.5%;
    background-color: $color-de-fondo;
}

/* section1 */
.banner1 {
    width: auto;
    min-height: 500px;
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/img/Entrenamientos.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-de-texto;
    font-family: sans-serif;

    h1 {
        font-size: 4rem;
    margin: 5px auto;
    padding: 10px 10px;
    text-align: center;
    }
    
    p {
        font-size: 1.5rem;
        margin: 0px 10px;
        padding: 30px 10px;
        text-align: center;
        line-height: 1.5;
    }

}

.animated-title {
    text-shadow: 0 0 50px #066ce9,
                0 0 100px #066ce9,
                0 0 150px #066ce9,
                0 0 200px #066ce9,
                0 0 250px #066ce9;
                animation: mianimation 5s linear infinite;
}

@keyframes mianimation {
    0% {filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}



/* section2 */

.banner2 {
    width: auto;
    height: 500px;
    background-image: linear-gradient( 0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/img/banner4.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-de-texto;
    font-family: Helvetica, sans-serif;
    margin-bottom: 30px;

    h2 {
        font-size: 3rem;
    text-align: center;
    }
    p {
        font-size: 1.5rem;
    text-align: center;
    }
}

.carousel-title {
    color: $color-de-texto;
    text-align: center;
}

/* section3 */

.banner3 {
    width: 100%;
    height: 600px;
    background-image: url("img/banner5.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-de-texto;
    font-size: 2rem;
    font-family: Helvetica, sans-serif;

    h3 {
        color: $color-de-texto;
        text-align: center;
    }

}

.iframe {
    width: 100%;
    height: 100%;
}

