$navegation:(
    display:flex,
    jc:flex-start,
    align:center,
    f-s:1rem,
    text-t: uppercase,
    pdg: 10px 30px,
    bord-rad: 20px,
    margin: 10px,
    f-f:'oswald'
);



.nav-menu {
    display: map-get($navegation, display);
    justify-content: map-get($navegation, jc);
    align-items: map-get($navegation, align);
}

.nav-link {
    font-size: map-get($navegation, f-s);
    text-transform: map-get($navegation, text-t);
    border-radius: map-get($navegation, bord-rad );
    padding: map-get($navegation, pdg);

    &:hover {
        background-color:$color-principal;
    }
}

.nav-item {
    margin: 10px;
    padding: 0px 10px;
}

%navbar-brand {
    font-size: 3rem;
    padding: map-get($navegation, pdg);
    text-transform: map-get($navegation, text-t); 
    text-decoration: none;
    border-radius: 30px;
    font-family: map-get($navegation, f-f);
    letter-spacing: 4px;
    font-weight: 600;
    overflow: hidden;
    transition: 0.2s;
    position: relative;

    &:hover {
        background-color:$color-principal;
    box-shadow:  0 0 10px $color-principal, o o 40px $color-principal, 0 0 80px $color-principal;
    }
}

.navbar-brand {
    @extend %navbar-brand;
}